<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>fiscalDateEnding</th>
      <th>reportedDate</th>
      <th>reportedEPS</th>
      <th>estimatedEPS</th>
      <th>surprise</th>
      <th>surprisePercentage</th>
      <th>reportTime</th>
      <th>symbol</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2024-09-30</td>
      <td>2024-10-31</td>
      <td>0.25</td>
      <td>0.25</td>
      <td>0</td>
      <td>0</td>
      <td>pre-market</td>
      <td>WEN</td>
    </tr>
    <tr>
      <td>2024-06-30</td>
      <td>2024-08-01</td>
      <td>0.27</td>
      <td>0.28</td>
      <td>-0.01</td>
      <td>-3.5714</td>
      <td>pre-market</td>
      <td>WEN</td>
    </tr>
    <tr>
      <td>2024-03-31</td>
      <td>2024-05-02</td>
      <td>0.23</td>
      <td>0.21</td>
      <td>0.02</td>
      <td>9.5238</td>
      <td>pre-market</td>
      <td>WEN</td>
    </tr>
    <tr>
      <td>2023-12-31</td>
      <td>2024-02-15</td>
      <td>0.21</td>
      <td>0.23</td>
      <td>-0.02</td>
      <td>-8.6957</td>
      <td>pre-market</td>
      <td>WEN</td>
    </tr>
    <tr>
      <td>2023-09-30</td>
      <td>2023-11-02</td>
      <td>0.27</td>
      <td>0.25</td>
      <td>0.02</td>
      <td>8</td>
      <td>pre-market</td>
      <td>WEN</td>
    </tr>
  </tbody>
</table>