<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>1. open</th>
      <th>2. high</th>
      <th>3. low</th>
      <th>4. close</th>
      <th>5. volume</th>
      <th>symbol</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19.7600</td>
      <td>19.9700</td>
      <td>19.5100</td>
      <td>19.5400</td>
      <td>3334966</td>
      <td>WEN</td>
      <td>2024-11-08</td>
    </tr>
    <tr>
      <td>20.2800</td>
      <td>20.5200</td>
      <td>19.8550</td>
      <td>19.8900</td>
      <td>2751475</td>
      <td>WEN</td>
      <td>2024-11-07</td>
    </tr>
    <tr>
      <td>20.4200</td>
      <td>20.6000</td>
      <td>20.1650</td>
      <td>20.3900</td>
      <td>4258031</td>
      <td>WEN</td>
      <td>2024-11-06</td>
    </tr>
    <tr>
      <td>19.6300</td>
      <td>19.8900</td>
      <td>19.4600</td>
      <td>19.7700</td>
      <td>2753715</td>
      <td>WEN</td>
      <td>2024-11-05</td>
    </tr>
    <tr>
      <td>19.6200</td>
      <td>19.8300</td>
      <td>19.4350</td>
      <td>19.7200</td>
      <td>3781114</td>
      <td>WEN</td>
      <td>2024-11-04</td>
    </tr>
  </tbody>
</table>